
.mmodal-background {
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  float: right;
  overflow:auto

}

.mmodal {
  z-index: 1000;
  left: 0;
  right: 0;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 100px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;

}
.mmodal-body {
  background: #858585;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
}
