<!--<md-content class="md-padding">-->
<!--  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">-->
<!--    <md-nav-item  name="page1">Page One</md-nav-item>-->
<!--    <md-nav-item  name="page2">Page Two</md-nav-item>-->
<!--    <md-nav-item  name="page3">Page Three</md-nav-item>-->

<!--  </md-nav-bar>-->
<!--</md-content>-->

<div style="background-color: #f8f8f8;position: sticky;">
<mat-sidenav-container class="example-container">

  <mat-sidenav-content class="nav-bar-content">

      <button mat-button style="color:black; font-size: 16pt">Instagram</button>



          <input  placeholder="Поиск" class="find-input">



      <div style="float:right">

        <button mat-icon-button  class="nav-bar-btn">
          <mat-icon class="nav-bar-icons"> home</mat-icon>
        </button>
        <button mat-icon-button class="nav-bar-btn">
          <mat-icon class="nav-bar-icons">question_answer</mat-icon>
        </button>
        <button mat-icon-button class="nav-bar-btn">
          <mat-icon class="nav-bar-icons"> my_library_add</mat-icon>
        </button>
        <button mat-icon-button class="nav-bar-btn">
          <mat-icon class="nav-bar-icons"> language</mat-icon>
        </button>
        <button mat-icon-button class="nav-bar-btn">
          <mat-icon class="nav-bar-icons">favorite_border</mat-icon>
        </button>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="content-bars">
  <div class="stories-menu-block">
    <div class="stories-bar">
      <div class="story">
        <button class="story-btn"></button>
        <label class="story_name">anasilber_</label>
      </div>
    </div>

    <div class="right-menu">
      <div>
        <app-name-zoom-block></app-name-zoom-block>
      </div>
      <div>
        Рекомендацтии
      </div>
    </div>
  </div>


    <div class="post-bar">

      <app-name-block></app-name-block>

      <div class="post-image">
      </div>

      <div class="post-action">
        <button mat-icon-button class="post-action-btn">
          <mat-icon class="nav-bar-icons"> favorite_border</mat-icon>
        </button>
        <button mat-icon-button class="post-action-btn">
          <mat-icon class="nav-bar-icons"> chat_bubble</mat-icon>
        </button>
        <button mat-icon-button class="post-action-btn">
          <mat-icon class="nav-bar-icons">near_me</mat-icon>
        </button>

        <button mat-icon-button style="float: right;margin-right: 10px" class="post-action-btn">
          <mat-icon class="nav-bar-icons">bookmark_outline</mat-icon>
        </button>
      </div>


      <div class="post-comment">

      </div>
      <div>

      </div>

    </div>

</div>
</div>
